/* Variables */
:root {
	--text: #323232;
	--body: #F2F2F7;
}
@media (prefers-color-scheme: dark) {
	:root {
		--text: #EEEEEE;
		--body: #19191F;
	}
}


/* Fonts */
@font-face {
	font-family: 'Raleway Regular';
	src: local('Raleway Regular'), url('../ttf/ralewayRegular.ttf');
}


/* General */
body {
	color: var(--text);
	background: var(--body);
	font-family: 'Raleway Regular';
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
